/*
===========================================================
 File Name : auditlog_products.sql
 Purpose   : Audit logging for Products table in Northwind
 Database  : Northwind
 Author    : Mahdi Davoudi
===========================================================

 This script contains:
 1) Creation of audit log database and table
 2) Table structure with default system values
 3) Trigger to log all INSERT, UPDATE, DELETE operations
*/



-----------------------------------------------------------
-- 3) Create Trigger on Main Products Table
-----------------------------------------------------------

USE [Northwind]
GO
/****** Object:  Trigger [dbo].[TR_Products_AduitLog]    Script Date: 1/21/2026 7:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER TRIGGER [dbo].[TR_Products_AduitLog]
ON [Northwind].[dbo].[Products]
AFTER INSERT , UPDATE , DELETE
AS 
BEGIN 
     SET NOCOUNT ON; 

     DECLARE @Op_Type nchar(1);

     DECLARE @PCountI int , @PCountD int;
     
     SELECT @PCountI = COUNT(ProductID) FROM inserted; 
     SELECT @PCountD = COUNT(ProductID) FROM deleted;

     -- INSERT 
     IF @PCountI > 0 AND @PCountD = 0 
        SET @Op_Type = N'I';
     -- DELETE 
     ELSE IF @PCountI = 0 AND @PCountD > 0 
        SET @Op_Type = N'D';
     -- UPDATE
     ELSE IF @PCountI > 0 AND @PCountD > 0 
        SET @Op_Type =N'U';
     ELSE 
         RETURN; 
     
     DECLARE @Op_IPAddrres nvarchar(20) 
        SELECT @Op_IPAddrres = client_net_address
        FROM sys.dm_exec_connections
        WHERE session_id = @@SPID
    -- INSERT
     IF @Op_Type = N'I'
       INSERT INTO Northwind_AduitLog.dbo.Products (ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , OP_Type , OP_IPAddres ) 
           SELECT ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , 'I' , @Op_IPAddrres
           FROM inserted
    -- DELETE
      ELSE IF @Op_Type = N'D'

         INSERT INTO Northwind_AduitLog.dbo.Products (ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , OP_Type , OP_IPAddres ) 
           SELECT ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , 'D' , @Op_IPAddrres
           FROM deleted
      -- UPDATE 
      ELSE IF @Op_Type =N'U'
        BEGIN 

          INSERT INTO Northwind_AduitLog.dbo.Products (ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , OP_Type , OP_IPAddres ) 
           SELECT ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , 'O' , @Op_IPAddrres
           FROM deleted

          INSERT INTO Northwind_AduitLog.dbo.Products (ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , OP_Type , OP_IPAddres ) 
           SELECT ProductID , ProductName , CategoryID , Discontinued , UnitPrice , SupplierID , 'N' , @Op_IPAddrres
           FROM inserted

        END 

END

